<form class="form-event" [formGroup]="eventForm" (ngSubmit)="onSubmit()">
  <!-- Title -->

  <section>
    <!-- TODO : implement isPrivate attribute to Event
      <p class="text-right">
      <mat-checkbox formControlName="isPrivate" i18n="">
        Évènement privé
      </mat-checkbox>
    </p> -->

    <mat-form-field class="w-100">
      <h4 class="color-primary">
        <input matInput placeholder="Titre" formControlName="title" autofocus />
      </h4>
    </mat-form-field>
    <p class="comment" i18n="">
      Un bon titre c'est important, ça permet de définir dans quels types de jeux ou d'ambiance vont se retrouver les
      participants au premier coup d'&oelig;il&nbsp;! Soyez concis mais précis.
    </p>
  </section>

  <mat-horizontal-stepper labelPosition="bottom">
    <!-- Date -->

    <mat-step state="when">
      <ng-template matStepLabel>
        <span class="step-title" i18n="">Date &amp; Heure</span>
        <fa-icon [icon]="faClock"></fa-icon>
        <span class="step-subtitle">{{ fv.startTimeHours }}:{{ fv.startTimeMinutes }} - {{ startDate }}</span>
      </ng-template>

      <section>
        <div class="row">
          <mat-form-field class="col-md-3">
            <input
              matInput
              [matDatepicker]="picker"
              [min]="today"
              placeholder="Choisissez une date"
              formControlName="startDatetime"
            />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <div class="col-md-3 row">
            <mat-form-field class="col-md-5">
              <input matInput type="number" min="0" max="23" formControlName="startTimeHours" />
            </mat-form-field>
            <span class="col-md-2 align-self-center text-center">
              :
            </span>
            <mat-form-field class="col-md-5">
              <input matInput type="number" min="0" max="59" formControlName="startTimeMinutes" />
            </mat-form-field>
          </div>
        </div>

        <div class="btn-group-nav">
          <button class="ml-auto" type="button" mat-button matStepperNext>
            <fa-icon [icon]="faChevronRight"></fa-icon>
          </button>
        </div>
      </section>
    </mat-step>

    <!-- Location -->

    <mat-step state="where">
      <ng-template matStepLabel>
        <span class="step-title" i18n="">Lieu</span>
        <fa-icon [icon]="faBuilding"></fa-icon>
        <span>{{ fv.location?.name }}</span>
      </ng-template>

      <section>
        <div class="d-flex align-items-baseline">
          <mat-form-field class="flex-grow-1">
            <mat-label *ngIf="hasNoLocation" i18n="">Veuillez créer un lieu</mat-label>
            <mat-label *ngIf="!hasNoLocation" i18n="">Mes lieux</mat-label>
            <mat-select matNativeControl formControlName="location">
              <mat-option *ngFor="let location of locations" [value]="location">{{ location.name }}</mat-option>
            </mat-select>
          </mat-form-field>

          <button
            *ngIf="!hasNoLocation"
            mat-button
            type="button"
            color="primary"
            [disabled]="!fv.location"
            (click)="openLocationFormDialog(fv.location.id)"
          >
            <fa-icon [icon]="faPenSquare"></fa-icon>
            <span i18n="">Modifier</span>
          </button>

          <button mat-button type="button" color="primary" (click)="openLocationFormDialog()">
            <fa-icon [icon]="faPlusSquare"></fa-icon>
            <span i18n="">Nouveau</span>
          </button>
        </div>

        <p *ngIf="fv.location" class="d-flex align-items-center">
          <strong>{{ fv.location.name }}</strong>
          <span class="mx-3">
            <span *ngIf="fv.location.district" class="location-district">
              {{ fv.location.district }}
            </span>
            <span *ngIf="fv.location.city" class="location-city">
              {{ fv.location.city }}
            </span>
            <span *ngIf="fv.location.country" class="location-country">
              {{ fv.location.country }}
            </span>
          </span>
          <app-location-detail-icons
            [isAllowedSmoking]="fv.location?.isAllowedSmoking"
            [isAccessible]="fv.location?.isAccessible"
          ></app-location-detail-icons>
        </p>
      </section>

      <div class="btn-group-nav">
        <button type="button" mat-button matStepperPrevious><fa-icon [icon]="faChevronLeft"></fa-icon></button>
        <button type="button" mat-button matStepperNext><fa-icon [icon]="faChevronRight"></fa-icon></button>
      </div>
    </mat-step>

    <!-- Players -->

    <mat-step state="who">
      <ng-template matStepLabel>
        <span class="step-title" i18n="">Joueurs</span>
        <fa-icon [icon]="faUsers"></fa-icon>
        <span i18n="">{{ fv.minPlayers }} &lt; {{ fv.maxPlayers }}</span>
      </ng-template>

      <section>
        <div class="row">
          <mat-form-field class="col-md-3">
            <input
              matInput
              type="number"
              min="1"
              [max]="fv.maxPlayers"
              placeholder="Nombre de joueurs minimum requis"
              formControlName="minPlayers"
            />
          </mat-form-field>
          <mat-form-field class="col-md-3">
            <input
              matInput
              type="number"
              [min]="fv.minPlayers"
              placeholder="Nombre de joueurs maximum acceptés"
              formControlName="maxPlayers"
            />
          </mat-form-field>
          <mat-form-field class="col-md-3">
            <mat-label i18n="">Niveau minimum</mat-label>
            <mat-select matNativeControl formControlName="level">
              <mat-option [value]="0" i18n="">
                Tous niveaux
              </mat-option>
              <mat-option [value]="1" i18n="">
                Débutant
              </mat-option>
              <mat-option [value]="2" i18n="">
                Intermédiaire
              </mat-option>
              <mat-option [value]="3" i18n="">
                Expert
              </mat-option>
              <mat-option [value]="4" i18n="">
                Légendaire
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="col-md-3">
            <mat-label i18n="">Ambiance</mat-label>
            <mat-select matNativeControl formControlName="atmosphere">
              <mat-option [value]="0" i18n="">
                Festive
              </mat-option>
              <mat-option [value]="1" i18n="">
                Détendue
              </mat-option>
              <mat-option [value]="2" i18n="">
                Détendue et concentrée
              </mat-option>
              <mat-option [value]="3" i18n="">
                Concentrée
              </mat-option>
              <mat-option [value]="4" i18n="">
                Studieuse
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <p class="text-justify" i18n="">
          <em>
            Cet évènement aura lieu si vous êtes au moins
            <strong>{{ fv.minPlayers + 1 }}</strong>
            joueurs .
            <br />
            Vous serez au maximum
            <strong>{{ fv.maxPlayers + 1 }}</strong>
            joueurs .
          </em>
        </p>
      </section>

      <div class="btn-group-nav">
        <button type="button" mat-button matStepperPrevious><fa-icon [icon]="faChevronLeft"></fa-icon></button>
        <button type="button" mat-button matStepperNext><fa-icon [icon]="faChevronRight"></fa-icon></button>
      </div>
    </mat-step>

    <!-- Details -->

    <mat-step state="what">
      <ng-template matStepLabel>
        <span class="step-title" i18n="">Détails</span>
        <fa-icon [icon]="faMarker"></fa-icon>
        <span i18n="">[&hellip;]</span>
      </ng-template>

      <section>
        <div class="row">
          <p class="col-12 comment" i18n="">
            C'est le moment de vous lâcher&nbsp;!
            <br />
            Détaillez le plus possible votre évènement&nbsp;: quels jeux vous voulez sortir, s'il doivent amener quelque
            chose (des chips, de la bière, du saucisson...), savoir ce pour quoi ils sont bienvenus ou non&nbsp;:
          </p>
          <mat-form-field class="col-12">
            <textarea
              matInput
              cdkTextareaAutosize
              #descriptionAutosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="1"
              placeholder="Description"
              formControlName="description"
            ></textarea>
          </mat-form-field>
        </div>
      </section>

      <div class="btn-group-nav">
        <button type="button" mat-button matStepperPrevious><fa-icon [icon]="faChevronLeft"></fa-icon></button>
        <button type="button" mat-button matStepperNext><fa-icon [icon]="faChevronRight"></fa-icon></button>
      </div>
    </mat-step>

    <!-- Validation -->

    <mat-step state="done">
      <ng-template matStepLabel>
        <span class="step-title" i18n="">Validation</span>
        <fa-icon *ngIf="eventForm.valid" [icon]="faCheck"></fa-icon>
        <fa-icon *ngIf="eventForm.invalid" [icon]="faTimesCircle"></fa-icon>
      </ng-template>

      <section class="text-center">
        <p *ngIf="eventForm.invalid" class="danger">Veuillez remplir TOUS les champs requis&nbsp;!</p>

        <ng-container *ngIf="eventForm.valid">
          <p class="comment" i18n="">
            Tous les champs sont remplis correctement, mais êtes-vous sûr(e) de n'avoir rien oublié&nbsp;?
          </p>

          <button class="btn-submit" mat-raised-button type="button" color="primary" (click)="onSubmit()">
            <span i18n="">Valider</span>
          </button>
        </ng-container>
      </section>

      <div class="btn-group-nav">
        <button type="button" mat-button matStepperPrevious><fa-icon [icon]="faChevronLeft"></fa-icon></button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</form>
