@import 'src/assets/scss/_variables';

::ng-deep .form-event .mat-step-label {
  display: flex;
  flex-direction: column;
  color: $accent !important;
  .step-title {
    text-transform: uppercase;
  }
  fa-icon {
    font-size: 2rem;
  }
}

section {
  padding-top: 1rem;
}

.btn-group-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-submit {
  padding: 0.5rem 1.5rem;
  font-size: 1.25rem;
}
