<form class="form-user-privacy" [formGroup]="profilePrivacyForm" (ngSubmit)="onSubmit()">
  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col" i18n>Visibilité de vos informations personnelles</th>
        <th scope="col"><fa-icon [icon]="faEye" class="mx-auto"></fa-icon></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td i18n>Courriel</td>
        <td>
          <mat-checkbox formControlName="showEmail"></mat-checkbox>
        </td>
      </tr>
      <tr>
        <td i18n>Numéro de téléphone</td>
        <td>
          <mat-checkbox formControlName="showPhoneNumber"></mat-checkbox>
        </td>
      </tr>
      <tr>
        <td i18n>Date de naissance</td>
        <td>
          <mat-checkbox formControlName="showBirthdate"></mat-checkbox>
        </td>
      </tr>
      <tr>
        <td i18n>Pseudo BoardGameGeek</td>
        <td>
          <mat-checkbox formControlName="showBggName"></mat-checkbox>
        </td>
      </tr>
      <tr>
        <td i18n>Site internet</td>
        <td>
          <mat-checkbox formControlName="showWebsite"></mat-checkbox>
        </td>
      </tr>
      <!-- Action buttons -->
      <tr>
        <td></td>
        <td>
          <button
            mat-raised-button
            type="button"
            color="primary"
            [disabled]="!profilePrivacyForm.valid || !profilePrivacyForm.dirty"
            (click)="onSubmit()"
          >
            <fa-icon [icon]="faCheck"></fa-icon>
            <span i18n>Modifier</span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</form>
