$primary: #009688;
$accent: #ffc107;
$success: #28a745;
$warn: #ff5722;
$white: #fff;
$grey: #a9a9a9;
$light-grey: #eeeeee;

$border-radius: 4px;

// Header

$header-back-color-hover: #009083;

// Material Tabs

$tabs-accent-back-color-hover: #00000014;
