<!-- <div *ngFor="let notification of notifications; trackBy: notificationTrackBy" class="mb-2">
  <a
    [routerLink]="[notification.link]"
    [ngClass]="{ 'color-grey': !!notification.readAt }"
    (mouseenter)="!notification.readAt ? onRead(notification.id) : ''"
  >
    <app-notification [notification]="notification"></app-notification>
  </a>
</div> -->

<mat-list>
  <mat-list-item
    *ngFor="let notification of notifications; trackBy: notificationTrackBy"
    class="notification-item"
    (click)="onNavigate([notification.link])"
    (mouseenter)="!notification.readAt ? onRead(notification.id) : ''"
  >
    <app-notification [notification]="notification"></app-notification>
  </mat-list-item>
</mat-list>
