@import 'src/assets/scss/_variables.scss';

/**
 * Header
 */

.mat-card-header {
  margin-bottom: 2rem;
  padding: 0.5rem 1rem;

  ::ng-deep .mat-card-header-text {
    display: none;
  }
  .title {
    padding: 0.5rem 1rem;
  }
}
