<mat-card>
  <!-- HEADER -->

  <mat-card-header>
    <!-- Header : Date -->

    <div class="date">
      <app-ui-date [date]="event?.startDatetime"></app-ui-date>
    </div>

    <!-- Header : Title -->

    <div class="title">
      <mat-card-title>
        <h2>{{ event.title }}</h2>
      </mat-card-title>
      <mat-card-subtitle *ngIf="event.description !== ''" [innerHTML]="event.description"></mat-card-subtitle>
    </div>
  </mat-card-header>

  <!-- CONTENT -->

  <mat-card-content>
    <!-- Content : Players -->

    <section class="players">
      <div class="section-icon">
        <fa-icon [icon]="faUsers"></fa-icon>
      </div>
      <div class="section-content">
        <h3>
          {{ event.players.length + 1 }}/{{ event.maxPlayers }}
          <ng-container>Joueurs</ng-container>
        </h3>
        <p>
          <span class="color-grey">Niveau&nbsp;:</span>
          <app-event-level [value]="event.level"></app-event-level>
        </p>
        <p>
          <span class="color-grey">
            Nombre de joueurs min. requis&nbsp;:
          </span>
          <span
            [ngClass]="{
              success: event.players.length > event.minPlayers,
              danger: event.players.length <= event.minPlayers
            }"
          >
            {{ event.minPlayers + 1 }}
          </span>
        </p>
        <ul class="inline-list">
          <li><span class="color-grey">Participants&nbsp;:</span></li>
          <li><a href="#" title="organisateur">Zohamo*</a></li>
        </ul>
      </div>
      <div class="section-end">
        <p class="color-grey">Il reste {{ event.maxPlayers - event.players.length - 1 }} places&nbsp;!</p>
        <button mat-raised-button color="accent">
          Je viens !
        </button>
      </div>
    </section>

    <!-- Content : Date -->

    <section class="date">
      <div class="section-icon">
        <fa-icon [icon]="faClock"></fa-icon>
      </div>
      <div class="section-content">
        <h4>
          {{ startDateDayName | titlecase }} {{ startDateDayNumber }} {{ startDateMonth | titlecase }}
          {{ startDateYear }}
        </h4>
        <p>
          <span class="color-grey">à partir de</span>
          {{ startTimeHour }}:{{ startTimeMinutes }}
          <ng-container *ngIf="event?.endDatetime">
            <span class="color-grey">jusqu'à</span>
            {{ endTimeHour }}:{{ endTimeMinutes }}
          </ng-container>
        </p>
      </div>
    </section>

    <!-- Content : Location -->

    <section class="location">
      <div class="section-icon">
        <fa-icon [icon]="faBuilding"></fa-icon>
      </div>
      <div class="section-content">
        <h3>{{ event.location.name }}</h3>
        <p>
          <ng-container *ngIf="event.location.addressDistrict !== ''">
            {{ event.location.addressDistrict }},
          </ng-container>
          <strong>{{ event.location.addressCity }}</strong>
        </p>
        <button *ngIf="event.location.isPublic" mat-stroked-button class="btn" color="accent">
          Voir l'adresse exacte
        </button>
        <app-location-detail-icons
          [isAllowedSmoking]="event.location.isAllowedSmoking"
          [isAccessible]="event.location.isAccessible"
        ></app-location-detail-icons>
        <p *ngIf="!event.location.isPublic" class="note">
          Vous ne verrez l'adresse exacte qu'une fois votre présence confirmée par l'organisateur.
        </p>
      </div>
    </section>
  </mat-card-content>
</mat-card>
