<mat-card>
  <!-- HEADER -->

  <mat-card-header>
    <!-- Header : Date -->

    <div class="date">
      <app-event-date [date]="event?.startDatetime"></app-event-date>
    </div>

    <!-- Header : Title -->

    <div class="title">
      <mat-card-title>
        <h2>{{ event.title }}</h2>
      </mat-card-title>
      <mat-card-subtitle *ngIf="event.description !== ''" [innerHTML]="event.description"></mat-card-subtitle>
    </div>
  </mat-card-header>

  <!-- CONTENT -->

  <mat-card-content>
    <app-event-players class="event-section players" [event]="event"></app-event-players>
    <app-event-timeslot
      class="event-section timeslot"
      [startDatetime]="event?.startDatetime"
      [endDatetime]="event?.endDatetime"
    ></app-event-timeslot>
    <app-event-location class="event-section location" [location]="event.location"></app-event-location>
  </mat-card-content>
</mat-card>
