@import 'src/assets/scss/_variables';

::ng-deep .mat-tab-list .mat-tab-label {
  flex-grow: 1;
  &:hover {
    background-color: $tabs-accent-back-color-hover;
  }
  .ng-fa-icon {
    margin-right: 0.5rem;
  }
  &.mat-tab-label-active {
    color: $primary;
    opacity: 1;
  }
}

::ng-deep .mat-tab-body-wrapper {
  padding-top: 1rem;
}
