<small *ngIf="notification.createdAt" class="text-right">{{ notification.createdAt }}</small>

<ng-container [ngSwitch]="notification.type">
  <ng-container *ngSwitchCase="'UserEventSubscription'">
    <div *ngIf="notification.data.isAccepted === null">
      <strong>{{ notification.data.user.name }}</strong>
      souhaite participer à
      <strong>{{ notification.data.event.title }}</strong>
      .
    </div>
    <div *ngIf="notification.data.isAccepted === false">
      <strong>{{ notification.data.event.host.name }}</strong>
      a refusé votre inscription à
      <strong>{{ notification.data.event.title }}</strong>
      .
    </div>
    <div *ngIf="notification.data.isAccepted === true">
      <strong>{{ notification.data.event.host.name }}</strong>
      a accepté votre inscription à
      <strong>{{ notification.data.event.title }}</strong>
      .
    </div>
  </ng-container>
</ng-container>
