@import 'src/assets/scss/_variables.scss';

.mat-toolbar {
  font-size: 1rem;

  .site-logo {
    font-size: 2rem;
    margin-right: 1rem;
  }

  ::ng-deep button {
    .mat-button-wrapper {
      display: flex;
      align-items: center;
    }
  }

  a {
    height: 100%;
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    color: $white;
    &:hover {
      background-color: $header-back-color-hover;
    }

    figure {
      position: relative;
      margin: 0 0.618rem 0 0;
      .ng-fa-icon {
        margin: 0;
        font-size: 36px;
      }
      svg.icon-meeple {
        position: absolute;
        top: 1px;
        left: 2px;
        width: 32px;
      }
    }
  }
}

a {
  position: relative;
  display: flex;
  align-items: center;
  .ng-fa-icon {
    margin-right: 0.5rem;
  }
}

// set fa-icon the same styles that mat-icon
.mat-menu-item .ng-fa-icon {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.54);
}

::ng-deep .icon-tooltip {
  background: $primary;
  font-size: 1rem;
}
