@import 'src/assets/scss/_variables.scss';

.mat-card {
  margin-bottom: 1rem;
  &:hover {
    background-color: $light-grey;
  }
  .event-title {
    margin: 0.5rem 1rem;
  }
  .event-details {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: $grey;

    .icon-container {
      display: inline-block;
      text-align: center;
      width: 32px;
      margin-left: 0.5rem;
    }
  }
}
