<a *ngFor="let event of events; trackBy: eventTrackBy" [routerLink]="['/events', event.id]">
  <mat-card class="d-flex">
    <!-- Date -->
    <div class="event-startDate">
      <app-event-date [date]="event?.startDatetime"></app-event-date>
    </div>

    <!-- Title -->
    <h3 class="event-title color-primary">{{ event?.title }}</h3>

    <!-- Details -->
    <div class="event-details">
      <div>
        <span *ngIf="event.location.district" class="location-district">{{ event.location.district }}</span>
        <span *ngIf="event.location.city" class="location-city">{{ event?.location.city }}</span>
        <span *ngIf="event.location.country" class="location-country">{{ event?.location.country }}</span>
        <span class="icon-container">
          <fa-icon [icon]="faBuilding"></fa-icon>
        </span>
      </div>

      <div>
        <span>{{ event?.players.length + 1 }}/{{ event?.maxPlayers + 1 }} joueurs</span>
        <span class="icon-container">
          <fa-icon [icon]="faUsers"></fa-icon>
        </span>
      </div>

      <div>
        <span>{{ event.host.name }}</span>
        <span class="icon-container">
          <fa-icon [icon]="faUserTie"></fa-icon>
        </span>
      </div>
    </div>
  </mat-card>
</a>
