// @import '~leaflet/dist/leaflet.css';

/* .map-container {
  margin: 30px auto;
  min-height: 500px;

  .map-frame {
    border: 2px solid black;
    min-height: 500px;
    height: 100%;
    #map {
      min-height: 500px;
      height: 100%;
    }
  }
}

#frugalmap {
  height: 600px;
  width: 100%;
} */

.map {
  height: 600px;
  width: 100%;
}
