<div class="user-information">
  <div class="d-flex justify-content-between align-items-center mb-2">
    <h5 class="mb-0" i18n="">Informations personnelles</h5>
    <button mat-button type="button" color="primary" (click)="openProfileFormDialog(user.id)">
      <fa-icon [icon]="faPenSquare"></fa-icon>
    </button>
  </div>
  <section class="user-gender-birthdate">
    <!-- Gender -->
    <ng-container *ngIf="user?.gender" [ngSwitch]="user?.gender">
      <fa-icon *ngSwitchCase="'MALE'" [icon]="faMars"></fa-icon>
      <fa-icon *ngSwitchCase="'FEMALE'" [icon]="faVenus"></fa-icon>
      <fa-icon *ngSwitchCase="'OTHER'" [icon]="faGenderless"></fa-icon>
    </ng-container>
    <!-- Birthdate -->
    <ng-container *ngIf="user?.birthdate">
      <p i18n>{{ formatBirthdate(user.birthdate) }}</p>
    </ng-container>
  </section>
  <!-- Email -->
  <section *ngIf="user?.email" class="user-email">
    <fa-icon [icon]="faEnvelope"></fa-icon>
    <p i18n>{{ user.email }}</p>
  </section>
  <!-- Phone Number -->
  <section *ngIf="user?.phoneNumber" class="user-phone-number">
    <fa-icon [icon]="faMobileAlt"></fa-icon>
    <p i18n>{{ user.phoneNumber }}</p>
  </section>
  <!-- Location -->
  <section *ngIf="user?.district || user?.city || user?.country" class="user-location">
    <fa-icon [icon]="faMapMarked"></fa-icon>
    <p>
      <span *ngIf="user.district" class="user-district mr-1" i18n>{{ user.district }},</span>
      <span *ngIf="user.city" class="user-city mr-1" i18n>{{ user.city }},</span>
      <span *ngIf="user.country" class="user-country" i18n>{{ user.country }}</span>
    </p>
  </section>
  <!-- WWW -->
  <section *ngIf="user?.bggName || user?.website" class="user-www">
    <fa-icon [icon]="faGlobe"></fa-icon>
    <p *ngIf="user.bggName" i18n>
      <em>Board Game Geek</em>
      <br />
      <a href="{{ bggUserUrl(user.bggName) }}">{{ user.bggName }}</a>
    </p>
    <p *ngIf="user.website" i18n>
      <em>Website</em>
      <br />
      <a href="{{ user.website }}">{{ shortWebsite(user.website) }}</a>
    </p>
  </section>
</div>
