<ng-container *ngIf="user$ | async as user">
  <h2 class="color-primary mx-3 mb-3">
    <fa-icon *ngIf="!user?.avatar" [icon]="faUserCircle" class="mr-2"></fa-icon>
    {{ user?.name }}
  </h2>

  <mat-tab-group [backgroundColor]="'accent'" dynamicHeight>
    <!-- Public Profile -->
    <mat-tab>
      <ng-template mat-tab-label>
        <fa-icon [icon]="faUser"></fa-icon>
        <span>Profil</span>
      </ng-template>
      <div *ngIf="user" class="p-3 row">
        <app-user-ratings [userRatings]="user?.ratings" class="col-md-6"></app-user-ratings>
        <app-user-detail [userDetail]="user" class="col-md-4 offset-md-2"></app-user-detail>
      </div>
      <app-user-comment-list *ngIf="comments"></app-user-comment-list>
    </mat-tab>
    <!-- Games -->
    <mat-tab>
      <ng-template mat-tab-label>
        <fa-icon [icon]="faDice"></fa-icon>
        <span>Jeux</span>
      </ng-template>
      <app-ui-spinner *ngIf="isLoadingGames" [message]="'BoardGameGeek'"></app-ui-spinner>
      <div *ngIf="!isLoadingGames">
        <app-game-list *ngIf="games" [games]="games"></app-game-list>
        <p *ngIf="!games" i18n>Aucun jeu n'a été trouvé.</p>
      </div>
    </mat-tab>
    <!-- Events -->
    <mat-tab>
      <ng-template mat-tab-label>
        <fa-icon [icon]="faCalendarAlt"></fa-icon>
        <span>Évènements</span>
      </ng-template>
      <app-ui-spinner *ngIf="isLoadingEvents" [message]="'Évènements'"></app-ui-spinner>
      <div *ngIf="!isLoadingEvents">
        <app-event-list *ngIf="events" [events]="events"></app-event-list>
        <p *ngIf="!events" i18n>Aucun évènement n'a été trouvé.</p>
      </div>
    </mat-tab>
    <!-- Locations -->
    <mat-tab>
      <ng-template mat-tab-label>
        <fa-icon [icon]="faMapMarked"></fa-icon>
        <span>Lieux</span>
      </ng-template>
      <app-ui-spinner *ngIf="isLoadingLocations" [message]="'Lieux'"></app-ui-spinner>
      <div *ngIf="!isLoadingLocations">
        <app-location-list [locations]="locations"></app-location-list>
        <p *ngIf="!locations" i18n>Aucun lieu n'a été trouvé.</p>
      </div>
    </mat-tab>
    <!-- Profile Settings -->
    <mat-tab>
      <ng-template mat-tab-label>
        <fa-icon [icon]="faCogs"></fa-icon>
        <span>Paramètres</span>
      </ng-template>
      <app-user-privacy-form [userDetail]="user" (saveUserPrivacy)="updateUserPrivacy($event)"></app-user-privacy-form>
    </mat-tab>
  </mat-tab-group>
</ng-container>
