<div class="section-icon">
  <fa-icon [icon]="faUsers"></fa-icon>
</div>
<div class="section-content">
  <h3>
    {{ event.players.length + 1 }}/{{ event.maxPlayers + 1 }}
    <ng-container>Joueurs</ng-container>
  </h3>
  <p>
    <span class="color-grey">Niveau&nbsp;:</span>
    <app-event-level [value]="event.level"></app-event-level>
  </p>
  <p>
    <span class="color-grey">
      Nombre de joueurs min. requis&nbsp;:
    </span>
    <span
      [ngClass]="{
        success: event.players.length >= event.minPlayers,
        danger: event.players.length < event.minPlayers
      }"
    >
      {{ event.minPlayers + 1 }}
    </span>
  </p>
  <ul class="inline-list">
    <li><span class="color-grey">Participants&nbsp;:</span></li>
    <li>
      <a class="players-host" [routerLink]="['/player', event.host.id]" matTooltip="Organisateur" i18n-matTooltip="">
        {{ event.host.name }}
      </a>
      <ng-container *ngIf="event.players.length">
        <ng-container *ngFor="let player of event.players">
          -
          <a class="players-player" [routerLink]="['/player', player.id]">{{ player.name }}</a>
        </ng-container>
      </ng-container>
    </li>
  </ul>
</div>

<div class="section-end">
  <app-event-players-administration
    *ngIf="event.host.id === userId"
    [setSubscriptions]="event.subscriptions"
  ></app-event-players-administration>

  <app-event-players-subscription
    *ngIf="event.host.id !== userId"
    [setEvent]="event"
    [userId]="userId"
  ></app-event-players-subscription>
</div>
