<div class="profile-ratings mx-auto">
  <div class="alert alert-warning" role="alert">
    <p class="mb-0">Fonctionnalité en cours de développement.</p>
  </div>

  <!-- Reception -->

  <section *ngIf="ratings?.reception" class="rating-reception">
    <div>
      <h6 class="section-title" i18n>Accueil</h6>
      <p><em i18n>en tant qu'hôte</em></p>
    </div>
    <div class="rating-ui">
      <div class="rating-scale">
        <p>mal reçu</p>
        <p>/</p>
        <p>chaleureux</p>
      </div>
      <app-rating [size]="'lg'" [rating]="average(ratings.reception)"></app-rating>
    </div>
  </section>

  <!-- Teaching -->

  <section *ngIf="ratings?.teaching" class="rating-teaching">
    <h6 class="section-title" i18n>Explication des règles</h6>
    <div class="rating-ui">
      <div class="rating-scale">
        <p>confus</p>
        <p>/</p>
        <p>limpide</p>
      </div>
      <app-rating [size]="'lg'" [rating]="average(ratings.teaching)"></app-rating>
    </div>
  </section>

  <!-- Liking -->

  <section *ngIf="ratings?.liking" class="rating-liking">
    <h6 class="section-title" i18n>Sympathie</h6>
    <div class="rating-ui">
      <div class="rating-scale">
        <p>incommode</p>
        <p>/</p>
        <p>agréable</p>
      </div>
      <app-rating [size]="'lg'" [rating]="average(ratings.liking)"></app-rating>
    </div>
  </section>

  <!-- Humility -->

  <section *ngIf="ratings?.humility" class="rating-humility">
    <h6 class="section-title" i18n>Humilité</h6>
    <div class="rating-ui">
      <div class="rating-scale">
        <p>mauvais gagnant/perdant</p>
        <p>/</p>
        <p>humble</p>
      </div>
      <app-rating [size]="'lg'" [rating]="average(ratings.humility)"></app-rating>
    </div>
  </section>

  <!-- Honesty -->

  <section *ngIf="ratings?.honesty" class="rating-honesty">
    <h6 class="section-title" i18n>Honnêteté</h6>
    <div class="rating-ui">
      <div class="rating-scale">
        <p>tricheur</p>
        <p>/</p>
        <p>honnête</p>
      </div>
      <app-rating [size]="'lg'" [rating]="average(ratings.honesty)"></app-rating>
    </div>
  </section>

  <!-- Speed -->

  <section *ngIf="ratings?.speed" class="rating-speed">
    <h6 class="section-title" i18n>Vitesse de jeu</h6>
    <div class="rating-ui">
      <div class="rating-scale">
        <p>lent</p>
        <p>/</p>
        <p>rapide</p>
      </div>
      <app-rating [size]="'lg'" [rating]="average(ratings.speed)"></app-rating>
    </div>
  </section>

  <!-- GLOBAL -->

  <section *ngIf="ratings" class="rating-global mt-5">
    <h5 class="section-title align-self-center" i18n>Appréciation globale</h5>
    <div class="rating-ui">
      <app-rating [size]="'lg'" [rating]="globalAverage(ratings)"></app-rating>
    </div>
  </section>
</div>
