<div class="d-flex">
  <h2>
    <fa-icon [icon]="faMapMarked" class="mr-3"></fa-icon>
    <span>Mes lieux</span>
  </h2>
  <button mat-raised-button color="primary" class="ml-auto" (click)="openLocationFormDialog()">
    <fa-icon [icon]="faMapMarkedAlt" class="mr-3"></fa-icon>
    <span i18n>Nouveau lieu</span>
  </button>
</div>
<div class="py-3">
  <div *ngIf="locations.length">
    <app-location-list [locations]="locations" (deleteLocation)="deleteLocation($event)"></app-location-list>
  </div>
  <p *ngIf="!locations.length" i18n="">Aucun lieu n'a été trouvé.</p>
</div>
