<mat-card>
  <!-- HEADER -->

  <mat-card-header>
    <!-- Header : Title -->

    <mat-card-title>
      <h2 class="page-title">{{ event.title }}</h2>
    </mat-card-title>
    <mat-card-subtitle *ngIf="event.description !== ''" [innerHTML]="event.description"></mat-card-subtitle>
  </mat-card-header>

  <!-- CONTENT -->

  <mat-card-content>
    <app-event-players class="event-section players" [event]="event" [userId]="userId"></app-event-players>
    <app-event-timeslot class="event-section timeslot" [startDatetime]="event?.startDatetime"
      [endDatetime]="event?.endDatetime"></app-event-timeslot>
    <app-event-location class="event-section location" [location]="event.location" [showLocation]="showLocation">
    </app-event-location>
  </mat-card-content>

  <!-- Action Buttons -->

  <mat-card-actions class="action-buttons">
    <ng-container *ngIf="userId === event.host.id">
      <button type="button" mat-raised-button color="primary" [routerLink]="['/events/edit', event.id]">
        <fa-icon [icon]="faEdit"></fa-icon>
        <span i18n="">Modifier</span>
      </button>
      <button type="button" mat-stroked-button color="warn" (click)="onDeleteEvent(event)">
        <fa-icon [icon]="faTrash"></fa-icon>
        <span i18n="">Supprimer</span>
      </button>
    </ng-container>
  </mat-card-actions>
</mat-card>
