<h2 *ngIf="routeName" [ngSwitch]="routeName" class="page-title">
  <ng-container *ngSwitchCase="'create'">
    <fa-icon [icon]="faCalendarPlus"></fa-icon>
    <span i18n="">Créer un évènement</span>
  </ng-container>
  <ng-container *ngSwitchCase="'edit'">
    <fa-icon [icon]="faCalendarPlus"></fa-icon>
    <span i18n="">Modifier un évènement</span>
  </ng-container>
</h2>

<app-event-form
  *ngIf="event$ | async as event; else loading"
  [eventEditing]="event"
  [userLocations]="userLocations"
  (saveEvent)="saveEvent($event)"
></app-event-form>

<ng-template #loading>
  <app-spinner></app-spinner>
</ng-template>
