<section class="d-flex justify-content-center align-items-center">
  <button mat-raised-button color="primary" (click)="onPing()" class="mr-5">
    <fa-icon [icon]="faTableTennis"></fa-icon>
    <span i18n="">Ping</span>
  </button>
  <ng-container *ngIf="isPinged">
    <fa-icon *ngIf="isPingLoading" [icon]="faSpinner" size="2x" [pulse]="true"></fa-icon>
    <ng-container *ngIf="!isPingLoading">
      <div *ngIf="pingResult">
        <fa-icon [icon]="faLightbulb" [styles]="{ stroke: 'green', color: 'green' }"></fa-icon>
        <span class="ml-2">200 OK!</span>
        <em class="ml-2">{{ pingCount }} ms</em>
      </div>
      <div *ngIf="!pingResult" class="color-warn">
        <fa-icon [icon]="faExclamationTriangle"></fa-icon>
        <span class="ml-2">{{ pingError }}</span>
        <em class="ml-2">{{ pingCount }} ms</em>
      </div>
    </ng-container>
  </ng-container>
</section>
