section {
  margin: 0 1rem;
  padding: 2rem;
  border-bottom: 1px solid #dee2e6;
  textarea {
    overflow: hidden;
    line-height: 1.3rem;
  }
}

.form-helper-container {
  position: absolute;
  top: -20px;
  right: -20px;
}
