<app-ui-spinner *ngIf="isLoading"></app-ui-spinner>

<mat-dialog-content *ngIf="!isLoading">
  <form [formGroup]="locationForm" (ngSubmit)="onSubmit()">
    <app-ui-form-helper class="form-helper-container"></app-ui-form-helper>
    <!-- Title & Details -->

    <section>
      <mat-form-field class="w-100">
        <h4 class="color-primary">
          <input matInput type="text" formControlName="name" placeholder="Nom du lieu" i18n-placeholder="" required />
        </h4>
      </mat-form-field>
      <div class="mt-3 d-flex justify-content-between flex-wrap">
        <mat-checkbox formControlName="isDefault" i18n="">Définir comme lieu par défaut</mat-checkbox>
        <mat-checkbox formControlName="isPublic" i18n="">Lieu public</mat-checkbox>
        <mat-checkbox formControlName="isAllowedSmoking" i18n="">Fumeur</mat-checkbox>
        <mat-checkbox formControlName="isAccessible" i18n="">Accessible en fauteuil roulant</mat-checkbox>
      </div>
    </section>

    <!-- Map -->

    <section>
      <app-ui-map
        [coordinates]="coords"
        [isEditable]="true"
        [autoGeolocate]="location && !location.id"
        [dMarker]="locationForm.value.showExactLocation"
        [circleRadius]="locationForm.value.coordsAccuracy"
        (sendPositionCoords)="populateCoords($event); locationForm.value.addressCountry ? '' : onReverseGeocode()"
      ></app-ui-map>

      <div class="mt-4 px-2 d-flex justify-content-between align-items-center">
        <mat-checkbox formControlName="showExactLocation" (click)="onSetMinAccuracy()" i18n="">
          Montrer l'adresse exacte
        </mat-checkbox>

        <mat-slider
          class="ml-5 flex-grow-1"
          thumbLabel
          min="1"
          max="5000"
          step="1"
          formControlName="coordsAccuracy"
          (click)="onSetControlToFalse('showExactLocation')"
        ></mat-slider>
      </div>

      <div class="d-flex justify-content-around mt-3">
        <button mat-raised-button type="button" color="accent" (click)="onReverseGeocode()" i18n="">
          <fa-icon [icon]="faAngleDoubleDown"></fa-icon>
          <span i18n="">Récupérer l'adresse depuis la carte</span>
        </button>
        <button mat-raised-button type="button" color="accent" (click)="onGeocode()" i18n="">
          <fa-icon [icon]="faAngleDoubleUp"></fa-icon>
          <span i18n="">Chercher l'adresse sur la carte</span>
        </button>
      </div>
    </section>

    <!-- Address -->

    <section>
      <div class="row">
        <!-- Address : Field 1 -->
        <mat-form-field class="col-md-6">
          <input matInput type="text" formControlName="addressField1" placeholder="Adresse" i18n-placeholder="" />
          <button
            *ngIf="locationForm.value.addressField1"
            mat-button
            mat-icon-button
            matSuffix
            (click)="onClearField('addressField1')"
            aria-label="Clear"
          >
            <fa-icon [icon]="faTimes"></fa-icon>
          </button>
        </mat-form-field>

        <!-- Address : Field 2 -->
        <mat-form-field class="col-md-6">
          <input
            matInput
            type="text"
            formControlName="addressField2"
            placeholder="Complément d'adresse"
            i18n-placeholder=""
          />
          <button
            *ngIf="locationForm.value.addressField2"
            mat-button
            mat-icon-button
            matSuffix
            (click)="onClearField('addressField2')"
            aria-label="Clear"
          >
            <fa-icon [icon]="faTimes"></fa-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="row">
        <!-- Address : Zip Code -->
        <mat-form-field class="col-md-3">
          <input matInput type="text" formControlName="addressZipCode" placeholder="Code postal" i18n-placeholder="" />
        </mat-form-field>

        <!-- Address : District -->
        <mat-form-field class="col-md-3">
          <input matInput type="text" formControlName="addressDistrict" placeholder="Quartier" i18n-placeholder="" />
        </mat-form-field>

        <!-- Address : City -->
        <mat-form-field class="col-md-3">
          <input matInput type="text" formControlName="addressCity" placeholder="Ville" i18n-placeholder="" />
        </mat-form-field>

        <!-- Address : Country-->
        <mat-form-field class="col-md-3">
          <mat-label i18n>Pays</mat-label>
          <mat-select matNativeControl formControlName="addressCountry" required>
            <mat-option *ngFor="let country of countries" [value]="country.isoCode" i18n>
              {{ country?.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </section>

    <!-- Description -->

    <section>
      <div class="row">
        <mat-form-field class="col-12">
          <textarea
            matInput
            cdkTextareaAutosize
            #description="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            formControlName="description"
            placeholder="Description"
            i18n-placeholder=""
          ></textarea>
          <mat-hint align="end">{{ locationForm.value.description.length }} / 256</mat-hint>
        </mat-form-field>
      </div>
    </section>
  </form>
</mat-dialog-content>

<!-- Action buttons -->

<div mat-dialog-actions>
  <p *ngIf="!locationForm.valid" i18n>* champs obligatoires</p>
  <button mat-stroked-button type="button" color="primary" (click)="onClose()" i18n="">
    Annuler
  </button>
  <button mat-raised-button type="button" color="primary" [disabled]="!locationForm.valid" (click)="onSubmit()">
    <fa-icon *ngIf="locationForm.valid" [icon]="faCheck"></fa-icon>
    <fa-icon *ngIf="!locationForm.valid" [icon]="faTimesCircle"></fa-icon>
    <span *ngIf="location.id === null" i18n>Créer</span>
    <span *ngIf="location.id !== null" i18n>Modifier</span>
  </button>
</div>
