@import 'assets/scss/material-theme.scss';
@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import 'assets/scss/variables.scss';
@import 'assets/scss/mixins.scss';

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

/**
 * Buttons
 */

button:focus,
.btn:focus,
.btn.focus {
  outline: 0;
  box-shadow: none;
}

/**
 * Colors
 */

.color-primary {
  color: $primary;
}

.color-accent {
  color: $accent;
}

.color-grey {
  color: $grey;
}

.success {
  color: $success;
}

.danger {
  color: $warn;
}

/**
 * Custom
 */

.note {
  font-size: 75%;
  color: $warn;
}

/**
 * Display
 */

.flex-spacer {
  flex: 1 1 auto;
}

.cdk-visually-hidden {
  display: none; // fix to avoid vertical scrollbar
}

/**
 * Links
 */

a {
  color: $primary;
  &:hover {
    color: #00695c;
    text-decoration: none;
  }
}

/**
 * Lists
 */

.inline-list {
  list-style-type: none;
  padding-left: 0;
  li {
    display: inline-block;
    margin-right: 1rem;
    &:last-child {
      margin-right: 0;
    }
  }
}

/**
 * Material Card
 */

.mat-card-actions {
  display: flex !important;
  justify-content: flex-end;
  margin: 0 1rem 16px !important;
}

/**
 * Material Icons
 */

.icon-size-4 {
  font-size: 48px;
}

/**
 * Typography
 */

em {
  color: rgba(0, 0, 0, 0.54);
}
