@import 'assets/scss/_material-theme.scss';
@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import 'assets/scss/_variables.scss';
@import 'assets/scss/_mixins.scss';
// Content
@import 'assets/scss/events.scss';
@import 'assets/scss/locations.scss';

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

/**
 * Buttons
 */

button:focus,
.btn:focus,
.btn.focus {
  outline: 0;
  box-shadow: none;
}

button .ng-fa-icon {
  margin-right: 0.5rem;
}

.action-buttons > * {
  margin-left: 1rem !important;
  &:first-child {
    margin-left: 0 !important;
  }
}

.mat-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  > * {
    margin: 0 0.25rem;
  }
}

/**
 * Colors
 */

.color-primary {
  color: $primary;
}

.color-accent {
  color: $accent;
}

.color-grey {
  color: $grey;
}

.success {
  color: $success;
}

.color-warn,
.danger {
  color: $warn;
}

/**
 * Custom
 */

.comment {
  color: $grey;
  font-style: italic;
}

/**
 * Display
 */

.flex-spacer {
  flex: 1 1 auto;
}

.cdk-visually-hidden {
  display: none;
}

/**
 * Form
 */

.cdk-textarea-autosize {
  overflow: hidden !important; // fix to avoid vertical scrollbar
}

/**
 * Links
 */

a {
  color: $primary;
  &:hover {
    color: #00695c;
    text-decoration: none;
  }
}

/**
 * Lists
 */

.inline-list {
  list-style-type: none;
  padding-left: 0;
  li {
    display: inline-block;
    margin-right: 1rem;
    &:last-child {
      margin-right: 0;
    }
  }
}

/**
 * Material Actions
 */

.mat-card-actions,
.mat-dialog-actions {
  display: flex !important;
  justify-content: flex-end;
  align-items: center;
  p {
    margin-bottom: 0;
    margin-right: auto;
    font-size: 0.75rem;
    font-style: italic;
    opacity: 0.54;
  }
  button {
    margin-left: 1rem;
  }
}

/**
 * Material Card
 */

.mat-card-header-icon {
  margin-right: 24px;
  font-size: 48px;
  color: $accent;
}

.mat-card-actions {
  margin: 0 1rem 16px !important;
}

/**
 * Material Dialog
 */

.mat-dialog-actions {
  padding: 16px 0 !important;
}

/**
 * Material Icons
 */

.icon-size-4 {
  font-size: 48px;
}

/**
 * Material Inputs
 */

.mat-form-field-required-marker {
  color: $accent;
}

/**
 * Material Tooltip
 */

.mat-tooltip {
  text-align: center;
  white-space: pre-line;
}

/**
 * Typography
 */

.page-title,
.mat-dialog-title,
.mat-tab-label-content {
  .ng-fa-icon {
    margin-right: 0.618rem;
  }
}

em {
  color: rgba(0, 0, 0, 0.54);
}
