<div class="d-none" [attr.data-hidden]="true" hidden="true">
  <!-- EMAIL Subject -->

  <p #subject i18n="">Vérification de votre adresse email</p>

  <!-- EMAIL Content -->

  <section #content>
    <p #greeting i18n="">
      Bonjour
      <b>{{ user.name }}</b>
      !
    </p>

    <p #line1 i18n="">
      Votre compte a été créé avec succès.
    </p>

    <p #line2 i18n="">Il ne vous reste qu'à cliquer sur le lien suivant afin de valider votre inscription :</p>

    <button #action i18n="">Valider</button>

    <p #salutation i18n="">
      A tout de suite sur
      <a [href]="bodgamUrl">Bodgam</a>
      !
    </p>
  </section>
</div>
