<ng-container [ngSwitch]="data.message">
  <!-- BGG -->

  <p *ngSwitchCase="'error-bgg-user'" i18n="">Impossible de trouver votre profil sur BoardGameGeek.</p>

  <!-- Event -->

  <p *ngSwitchCase="'success-delete-event'" i18n="">Votre évènement a été supprimé avec succès.</p>
  <p *ngSwitchCase="'success-save-event'" i18n="">Votre évènement a été sauvegardé avec succès.</p>
  <p *ngSwitchCase="'error-delete-event'" i18n="">Un problème est survenu lors de la suppression de votre évènement.</p>
  <p *ngSwitchCase="'error-save-event'" i18n="">Un problème est survenu lors de la sauvegarde de votre évènement.</p>

  <!-- Event Administration-->

  <p *ngSwitchCase="'success-event-administration-accept'" i18n="">
    <span class="color-primary">{{ data.input }}</span>
    a bien été accepté.
  </p>
  <p *ngSwitchCase="'success-event-administration-refuse'" i18n="">
    <span class="color-primary">{{ data.input }}</span>
    a bien été refusé.
  </p>
  <p *ngSwitchCase="'error-event-administration-accept'" i18n="">
    Un problème est survenu lors de l'acceptation de
    <span class="color-primary">{{ data.input }}</span>
    .
  </p>
  <p *ngSwitchCase="'error-event-administration-refuse'" i18n="">
    Un problème est survenu lors du refus de
    <span class="color-primary">{{ data.input }}</span>
    .
  </p>

  <!-- Event Subscription -->

  <p *ngSwitchCase="'success-event-subscription'" i18n="">
    Votre inscription à cet évènement a été bien été prise en compte.
  </p>
  <p *ngSwitchCase="'error-event-subscription'" i18n="">
    Un problème est survenu lors de votre inscription à cet évènement.
  </p>
  <p *ngSwitchCase="'success-event-unsubscription'" i18n="">
    Votre désinscription à cet évènement a été bien été prise en compte.
  </p>
  <p *ngSwitchCase="'error-event-unsubscription'" i18n="">
    Un problème est survenu lors de votre désinscription à cet évènement.
  </p>

  <!-- Geocode -->

  <p *ngSwitchCase="'error-geocode'" i18n="">Impossible de trouver la position sur la carte depuis l'adresse.</p>
  <p *ngSwitchCase="'error-reverse-geocode'" i18n="">Impossible de récupérer l'adresse depuis la carte.</p>

  <!-- Location -->

  <p *ngSwitchCase="'success-save-location'" i18n="">
    Votre lieu
    <span class="color-primary">{{ data.input }}</span>
    a été sauvegardé avec succès.
  </p>
  <p *ngSwitchCase="'error-save-location'" i18n="">Un problème est survenu lors de la sauvegarde de votre lieu.</p>
  <p *ngSwitchCase="'success-delete-location'" i18n="">
    Votre lieu
    <span class="color-primary">{{ data.input }}</span>
    a été supprimé avec succès.
  </p>
  <p *ngSwitchCase="'error-delete-location'" i18n="">
    Un problème est survenu lors de la suppression de votre lieu
    <span class="color-primary">{{ data.input }}</span>
    .
  </p>

  <!-- Login -->

  <p *ngSwitchCase="'success-login'" i18n="">Vous êtes maintenant connecté(e).</p>
  <p *ngSwitchCase="'error-login'" i18n="">
    Un problème est survenu lors de votre connexion,
    <br />
    voulez-vous réessayer&nbsp;?
  </p>
  <p *ngSwitchCase="'must-login'" i18n="">Veuillez vous identifier pour accéder à cette page.</p>
  <p *ngSwitchCase="'success-logout'" i18n="">Vous êtes maintenant déconnecté(e). A bientôt !</p>

  <!-- Password -->

  <p *ngSwitchCase="'success-change-password'" i18n="">Votre mot de passe a bien été modifié.</p>
  <p *ngSwitchCase="'error-change-password'" i18n="">
    Un problème est survenu lors de la modification de votre mot de passe.
  </p>
  <p *ngSwitchCase="'success-reset-password'" i18n="">
    Un courriel vous a été envoyé afin de réinitialiser votre mot de passe.
  </p>
  <p *ngSwitchCase="'error-reset-password'" i18n="">
    Un problème est survenu lors de la réinitialisation de votre mot de passe.
  </p>

  <!-- Profile -->

  <p *ngSwitchCase="'success-save-profile'" i18n="">Votre profil a été mis à jour avec succès.</p>
  <p *ngSwitchCase="'error-save-profile'" i18n="">Un problème est survenu lors de la mise à jour de votre profil.</p>
  <p *ngSwitchCase="'success-delete-profile'" i18n="">Votre profil a été supprimé avec succès.</p>
  <p *ngSwitchCase="'error-delete-profile'" i18n="">Un problème est survenu lors de la suppression de votre profil.</p>

  <!-- Register -->

  <p *ngSwitchCase="'success-register'" i18n="">
    Votre compte a été créé avec succès. Merci de valider votre courriel en cliquant sur le lien qui vous a été envoyé .
  </p>
  <p *ngSwitchCase="'error-register'" i18n="">Un problème est survenu lors de la création de votre compte.</p>
  <p *ngSwitchCase="'success-email-verified'" i18n="">Votre courriel a bien été vérifié.</p>
  <p *ngSwitchCase="'email-not-verified'" i18n="">La vérification de votre courriel n'a pas fonctionné.</p>
  <p *ngSwitchCase="'error-email-verified'" i18n="">
    Un problème est survenu lors de la vérification de votre courriel.
  </p>
  <p *ngSwitchCase="'success-email-verification-resent'" i18n="">Un courriel de vérification vous a été renvoyé.</p>
  <p *ngSwitchCase="'error-email-verification-resent'" i18n="">
    Un problème est survenu lors de l'envoi du courriel de vérification.
  </p>
  <p *ngSwitchCase="'error-email-not-found'" i18n="">
    Aucun utilisateur avec ce courriel n'a été trouvé.
  </p>
  <p *ngSwitchCase="'error-email-already-verified'" i18n="">
    Ce courriel a déjà été vérifié.
  </p>

  <!-- User -->

  <p *ngSwitchCase="'success-delete-user'" i18n="">
    L'utilisateur
    <span class="color-primary">{{ data.input }}</span>
    a été supprimé avec succès.
  </p>
  <p *ngSwitchCase="'error-delete-user'" i18n="">
    Un problème est survenu lors de la suppression de l''utilisateur
    <span class="color-primary">{{ data.input }}</span>
    .
  </p>

  <!-- default -->

  <p *ngSwitchCase="'error'" i18n="">Une erreur est survenue, merci de réessayer.</p>
  <p *ngSwitchDefault i18n="">Effectué</p>
</ng-container>
