<form *ngIf="!isLoading" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <h1 mat-dialog-title i18n="">Mot de passe oublié</h1>

    <mat-form-field class="w-100">
      <input matInput type="email" formControlName="email" email placeholder="Courriel" i18n-placeholder="" required />
    </mat-form-field>
  </mat-dialog-content>

  <!-- Action buttons -->

  <div mat-dialog-actions>
    <button mat-stroked-button type="button" color="primary" (click)="onClose()" i18n="">
      Annuler
    </button>
    <button mat-raised-button color="primary" [disabled]="!forgotPasswordForm.valid || isLoading" (click)="onSubmit()">
      <fa-icon *ngIf="forgotPasswordForm.valid" [icon]="faCheck"></fa-icon>
      <fa-icon *ngIf="!forgotPasswordForm.valid" [icon]="faTimesCircle"></fa-icon>
      <span i18n="">Envoyer</span>
    </button>
  </div>
</form>
