@import 'src/assets/scss/_variables.scss';

.mat-toolbar {
  font-size: 1rem;

  .site-logo {
    font-size: 2rem;
    margin-right: 1rem;
  }

  ::ng-deep button {
    .mat-button-wrapper {
      display: flex;
      align-items: center;
    }
  }

  a {
    height: 100%;
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
    color: $white;
    position: relative;
    display: flex;
    align-items: center;
    .mat-icon,
    .ng-fa-icon {
      margin-right: 0.5rem;
    }
    &:hover {
      background-color: #009083;
    }
  }
}

// set fa-icon the same styles that mat-icon
.mat-menu-item .ng-fa-icon {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.54);
}
