<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a class="site-logo" [routerLink]="['/']">
      <fa-icon [icon]="faDungeon"></fa-icon>
      BodGam
    </a>
    <a [routerLink]="['/players']">
      <fa-icon [icon]="faUsers"></fa-icon>
      <span>Joueurs</span>
    </a>
    <a [routerLink]="['/events']">
      <fa-icon [icon]="faCalendarAlt"></fa-icon>
      <span>Évènements</span>
    </a>
    <span class="flex-spacer"></span>
    <ng-container *ngIf="user?.isAuth === false">
      <a>
        <fa-icon class="mat-icon" [icon]="faSignInAlt"></fa-icon>
        <span>Connexion</span>
      </a>
    </ng-container>
    <ng-container *ngIf="user?.isAuth === true">
      <button mat-button class="ml-2 h-100" [matMenuTriggerFor]="userMenu" aria-label="icon-button with a menu">
        {{ user.name }}
        <mat-icon class="ml-2">keyboard_arrow_down</mat-icon>
      </button>
      <mat-menu #userMenu="matMenu">
        <a mat-menu-item [routerLink]="['/players', user.id]">
          <fa-icon class="mat-icon" [icon]="faUser"></fa-icon>
          <span>Mon profil</span>
        </a>
        <a mat-menu-item [routerLink]="['/events']">
          <fa-icon class="mat-icon" [icon]="faCalendarAlt"></fa-icon>
          <span>Mes évènements</span>
        </a>
        <button mat-menu-item>
          <fa-icon class="mat-icon" [icon]="faMapMarked"></fa-icon>
          <span>Mes lieux</span>
        </button>
        <button mat-menu-item>
          <fa-icon class="mat-icon" [icon]="faSignOutAlt"></fa-icon>
          <span>Déconnexion</span>
        </button>
      </mat-menu>
    </ng-container>
  </mat-toolbar-row>
</mat-toolbar>
