@import 'src/assets/scss/variables.scss';

::ng-deep.mat-expansion-panel {
  margin-bottom: 1rem !important;
  .mat-content {
    justify-content: space-between;
    align-items: center;
    .mat-expansion-panel-header-title {
      padding: 1rem 0;
      flex-grow: 0 !important;
      align-items: center;
      .startDate {
        display: inline-block;
        width: 3.3rem;
        text-align: center;
        margin-right: 24px;
        text-transform: uppercase;
        .day {
          display: flex;
          justify-content: space-around;
        }
      }
      .title {
        margin-bottom: 0;
      }
    }
    .mat-expansion-panel-header-description {
      flex-grow: 0;
    }
  }
  .mat-expansion-panel-content {
    border-top: 1px solid #cacaca;
    .mat-expansion-panel-body {
      padding: 16px 24px;
      .description {
        color: $grey;
      }
      .action-buttons {
        display: flex;
        justify-content: space-around;
      }
    }
  }
}
