<mat-expansion-panel>
  <!-- Header -->

  <mat-expansion-panel-header [collapsedHeight]="'auto'" [expandedHeight]="'auto'">
    <mat-panel-title>
      <div class="startDate">
        <app-ui-date [date]="event?.startDatetime"></app-ui-date>
      </div>
      <h3 class="title color-primary">{{ event?.title }}</h3>
    </mat-panel-title>
    <mat-panel-description>
      <span *ngIf="event.location.addressDistrict" class="mr-2">{{ event.location.addressDistrict }},</span>
      <strong class="mr-2">{{ event?.location.addressCity }}</strong>
      <span class="mx-2">{{ event?.players.length + 1 }}/{{ event?.maxPlayers }} joueurs</span>
    </mat-panel-description>
  </mat-expansion-panel-header>

  <!-- Content -->

  <div class="description" [innerHTML]="event?.description"></div>

  <div class="row">
    <app-event-location class="col-md-6 event-section location" [location]="event.location"></app-event-location>
    <app-event-players class="col-md-6 event-section players" [event]="event"></app-event-players>
  </div>

  <!-- Action Buttons -->

  <div class="action-buttons">
    <button type="button" mat-raised-button color="primary" [routerLink]="['/events', event.id]">
      <fa-icon [icon]="faEye"></fa-icon>
      <span i18n>Voir</span>
    </button>
    <button type="button" mat-raised-button color="primary" [routerLink]="['/events/edit', event.id]">
      <fa-icon [icon]="faEdit"></fa-icon>
      <span i18n>Modifier</span>
    </button>
  </div>
</mat-expansion-panel>
