<mat-expansion-panel>
  <!-- Header -->

  <mat-expansion-panel-header [collapsedHeight]="'auto'" [expandedHeight]="'auto'">
    <mat-panel-title>
      <div class="startDate">
        <div class="day">
          <span class="day-name">{{ startDateDayName }}</span>
          <span class="day-number">{{ startDateDayNumber }}</span>
        </div>
        <span class="month">{{ startDateMonth }}</span>
      </div>
      <h3 class="title color-primary">{{ event?.title }}</h3>
    </mat-panel-title>
    <mat-panel-description>
      <span *ngIf="event.location.addressDistrict" class="mr-2">{{ event.location.addressDistrict }},</span>
      <strong class="mr-2">{{ event?.location.addressCity }}</strong>
      <span class="mx-2">{{ event?.players.length + 1 }}/{{ event?.maxPlayers }} joueurs</span>
    </mat-panel-description>
  </mat-expansion-panel-header>

  <!-- Description -->

  <div class="description" [innerHTML]="event?.description"></div>

  <div class="row">
    <!-- Location -->

    <div class="col-md-6 d-flex location">
      <fa-icon [icon]="faBuilding"></fa-icon>
      <div>
        <p>
          <strong>{{ event.location.name }}</strong>
        </p>
        <p>
          <ng-container *ngIf="event.location.addressDistrict !== ''">
            {{ event.location.addressDistrict }},
          </ng-container>
          <strong>{{ event.location.addressCity }}</strong>
        </p>
        <app-location-detail-icons
          [isAllowedSmoking]="event.location.isAllowedSmoking"
          [isAccessible]="event.location.isAccessible"
        ></app-location-detail-icons>
      </div>
    </div>

    <!-- Players -->

    <div class="col-md-6 d-flex location">
      <fa-icon [icon]="faUsers"></fa-icon>
      <div>
        <p>
          <span class="color-grey">Niveau&nbsp;:</span>
          <app-event-level [value]="event.level"></app-event-level>
        </p>
        <p class="mt-auto">
          <span class="color-grey">nombre de joueurs min. requis&nbsp;:</span>
          {{ event.minPlayers + 1 }}
        </p>
      </div>
    </div>
  </div>

  <!-- Action Buttons -->

  <div class="action-buttons">
    <button type="button" mat-raised-button color="primary" [routerLink]="['/events', event.id]">Voir</button>
    <button type="button" mat-raised-button color="primary" [routerLink]="['/events/edit', event.id]">
      <i class="material-icons ml-2">
        edit
      </i>
    </button>
  </div>
</mat-expansion-panel>
